@media only screen and (max-width: 626px) {
    .main_menu {
        display: none;
        position: absolute;
    }

    .main_content {
        margin-left: 20px;
        padding-top: 60px
    }
}

@media only screen and (min-width: 626px) {
    .main_menu {
        position: absolute;
        width: 250px;
        border-right-color: black;
        border-right-style: solid;
        border-right-width: 1px;
        height: border-box;
    }

    .main_menu_wrapper {
        padding-top: 60px;
        position: fixed;
    }

    .main_content {
       
        padding-top: 60px
    }

    .scrollable {
        overflow-y: auto;
        height: 100vh;
    }
}