.tab_style {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 13px;
    height: 29px;
    border-bottom: 4px;
    font-size: 14px;
    border-bottom-style: solid;
    cursor: pointer;
    border-bottom-color: transparent;
    font-weight: normal;
    color: black;
    user-select: none;          /* Likely future */
}

.selected {
    border-bottom-color: #51504f;
    font-weight: bold;
    color: black;
}